extends ../layout

block content
  // Breadcrumbs
  ol.breadcrumb
    li.breadcrumb-item
      a(href='index.html') Dashboard
    li.breadcrumb-item.active= title
  .row
    .col-12
      h1= title

      form(action="/colors", method="post", class="form-inline")
        .form-group.mb-2
          label(for="colorStart") Start Color
          input(type="text", name="colorStart", id="start-colorpicker", class="form-control", value=colorStart)
        .form-group.mb-2
          label(for="colorEnd") End Color
          input(type="text", name="colorEnd", id="end-colorpicker", class="form-control", value=colorEnd)
        button(type="submit" class="btn btn-primary") Submit

      table
        thead
          tr
            th Value
            th Color
        tbody
          each val in data
            tr
              td #{val.value}
              td
                span(style={display:  'inline-block', width: '20px', height: '20px', background: val.color})